

h1 {
    color: black;
}

html {
    background: rgb(84,92,97);
    background: radial-gradient(circle, grey 10%, silver 100%); 
}

a {
    color: black;
    margin: 4%;
    text-decoration:none;
    margin-top: 10%;
    width: auto;
}
.nav {

    border:5px double black ; width:auto ;height:50px;
    padding-top: 1%;
}
